* {margin:0; padding:0; }
body {width: 900px;
margin: auto; }
header{
	width: 900px;
	height: 250px;
}
header img {
	width: 900px;
	height: 250px;
}
menu {
	width: 880px;
	height: 30px;
	background-color: blue;
	padding: 10px;
	margin-top: 5px;
}
menu li {
	list-style: none;
	float: left;
	margin-right: 20px; 
	margin-top: 5px;
	color: #fff; 
}
menu li a{
	text-decoration: none;
	color: #fff;
}
menu li a:hover {
	color: orange;
}
.Recomended {
	width: 100%;
	overflow: hidden;
	background-color: yellow;
	margin-top: 5px;
}
.Recomended h1 {
	text-align: center;
}
.Recomended .RecomendedKiri{
	width: 435px;
	float: left;
	margin: 5px 5px 5px 10px;
}
.Recomended  img{
	width: 150px;
	height: 100px;
	float: left;
	margin: 0 5px 5px 0;
	box-shadow: 5px 5px 2px #333;
}
.Recomended  p {
	text-align: justify;
}
.Recomended .RecomendedKanan{
	width: 435px;
	float: left;
	margin: 10px 10px 5px 5px;
}
.Recomended a {
	text-decoration: none;
	color: black;
}
.Recomended a:hover {
	color: orange;
}
.Recomended h3 {
	color: blue;
}